*.iml
.gradle
.kotlin
local.properties
.idea
captures/
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
build/
**/build/
.DS_Store
proguard/
out/
release/
google-services.json
*.jks
*.keystore
keystore.properties
